<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post提交</title>
</head>
<body>
<p>个人信息</p>
<form action="" method="post">
{#    <!--CSRF, Cross Site Request Forgery, 跨站点伪造请求-->#}
{#    <!--POST请求一般在form表单下加个标签  {% csrf_token %}-->#}
    {% csrf_token %}

    <p>qq 号：<input type="text" id="id_username" name="qq" required="required"></p>
    <p>用户名：<input type="text" id="id_username" name="name" required="required"></p>
    <p>年  龄：<input type="text" id="id_username" name="age" required="required"></p>
    <p>地  址：<input type="text" id="id_username" name="add" required="required"></p>
    <p>性  别：<input type="text" id="id_username" name="sex" required="required"></p>
    <p>邮  箱：<input type="text" id="id_username" name="email" required="required"></p>
    <br>
    <input type="submit" value="提交">
</form>
{% if msg %}
    <p>返回结果：{{ msg }}</p>
{% endif %}
</body>
</html>